header {
  display: flex;
  align-items : center;
  padding: 3em;
}


section {
  box-shadow: -1px 12px 20px 1px
  rgba(0,0,0,0.63);
  padding: 4em;
  min-height: 10vh;
  width: 50vh;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  display: block;
  align-items: center;
  background: rgb(255, 255, 255);
}


.hero {
  margin: auto;
  width: 50%;
}
